{% extends 'base.html' %}

{% block title %}Страница расписания{% endblock %}

{% block content %}
<div class="features">
    <h1>Ваше расписание</h1>
</div>
<!--{%for day in days%}-->
<!--        <p>{{day}}</p>-->
<!--{%endfor%}-->
<!--{%for time in times%}-->
<!--        <p>{{time}}</p>-->
<!--{%endfor%}-->
<div class="container mt-5">
    <h2></h2>
    {%for item in data%}
    <div class="alert alert-info mt-2">
        <p>{{item}}</p>
        <br>
    </div>
    {%endfor%}
</div>
{% endblock %}