{% extends 'base.html' %}

{% block title %}Рейтинг преподователей{% endblock %}

{% block content %}
<div class="features">
    <h1>Рейтинг пользователя {{users}}: {{users.average_rating|floatformat:2}}</h1>
    <a href="{% url 'rate_user' users%}" type="button" class="btn btn-primary">Оценить пользователя</a>
    <a href="{% url 'rating' %}" type="button" class="btn btn-danger">Назад</a>
</div>
<b>Комментарии о пользователе</b>
{%for comment in comments%}
<p>{{comment.comment}}</p>
{%endfor%}
{% endblock %}