{% extends 'base.html' %}

{% block title %}Рейтинг преподователей{% endblock %}

{% block content %}
<div class="features">
    <h1>Добро пожаловать на рейтинг пользователей</h1>
</div>
{% if user.is_authenticated%}
<a class="btn btn-primary" href="{% url 'create_rating' %}" role="button">Оценить пользователя</a>
<br>
{%endif%}
<div class="container mt-5">
    <h2>Рейтинг пользователей</h2>
    {%for user, grades in avg_grades.items%}
    <div class="alert alert-info mt-2">
        <p>Пользователь {{user}}: {{grades}}</p>
        <p><a href="{% url 'detail_rating' user %}">Посмотреть комментарии</a></p>
        <br>
    </div>
    {%endfor%}
</div>
{% endblock %}