{% extends 'base.html' %}

{% block title %}Страница курса{% endblock %}

{% block content %}
<div class="features">
    <h1>{{object.title}}</h1>
    {% if user.is_teacher is True %}
    <a class="btn btn-primary" href="{% url 'create_lesson' course.id%}" role="button">Создать урок</a>
    {%endif%}
    <a href="{% url 'courses' %}" type="button" class="btn btn-danger">Назад</a>
</div>
<b>Информация о курсе</b>
{{course.user.username}}
{{course.title}}
{{course.description}}
<a href="{% url 'course_edit' course.id%}" type="button" class="btn btn-info">Обновить курс</a>
<a href="{% url 'course_delete' course.id%}" type="button" class="btn btn-warning">Удалить курс</a>
<div class="container mt-5">
    {%for lesson in lessons%}
    <div class="alert alert-info mt-2">
        <p>{{lesson.number}}</p>
        <p>{{lesson.name}}</p>
        <p>{{lesson.content}}</p>
        <a href="{{lesson.material.url}}" download="">Скачать материал</a><br>
    </div>
    {%endfor%}
</div>
{% endblock %}