{% extends 'base.html' %}

{% block title %}Страница курса{% endblock %}

{% block content %}
<div class="features">
    <h1>{{object.title}}</h1>
    {% if user.is_teacher is True %}
    <a class="btn btn-primary" href="{% url 'create_lesson' course.id%}" role="button">Создать урок</a>
    {%endif%}
    <a href="{% url 'courses' %}" type="button" class="btn btn-danger">Назад</a>
</div>
<b>Информация о курсе</b>
{{course.user.username}}
{{course.title}}
{{course.description}}
{%for lesson in lessons%}
<p>{{lesson.number}}</p>
<p>{{lesson.name}}</p>
<p>{{lesson.content}}</p>
<a href="{{lesson.material.url}}" download="">Скачать материал</a><br>
{%endfor%}
{% endblock %}