{% extends 'base.html' %}

{% block title %}Информация о пользователе{% endblock %}

{% block content %}
<div class="features">
    <h1>{{profile.first_name}} {{profile.last_name}}</h1>
</div>
<b>Данные пользователя</b><br>
{% if user.pk == profile.pk%}
<a href="{% url 'profile_edit' profile.pk %}">Изменить данные</a>
{% else %}
<a href="{% url 'rate_user' profile.username%}" type="button" class="btn btn-primary">Оценить пользователя</a>
{%endif%}
<p>Email: {{profile.email}}</p>
<p>Место обучения: {{profile.university}}</p>
<p>Факультет: {{profile.faculty}}</p>
{% if profile.is_teacher is False%}
<p>Группа: {{profile.group}}</p>
{%endif%}
{% endblock %}