{% extends 'base.html' %}

{% block title %}Страница урока{% endblock %}

{% block content %}
<div class="features">
    <h1>Урок №{{object.number}}</h1>
        <a href="{% url 'detail_course' object.course.id%}" type="button" class="btn btn-danger">Назад</a>
</div>
<b>Информация об уроке</b>
<a href="{% url 'lesson_edit' object.id%}" type="button" class="btn btn-info">Обновить урок</a>
<a href="{% url 'lesson_delete' object.id%}" type="button" class="btn btn-warning">Удалить урок</a>
<div class="container mt-5">
    <p>Название: {{object.name}}</p>
    <p>{{object.content}}</p>
    <a href="{{object.material.url}}" download="">Скачать материал</a><br>
</div>
{% endblock %}